APP_ENV=dev
DEBUG=false

# DB
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_HOST=localhost

# DWH
DWH_NAME=analytics
DWH_USER=admin
DWH_PASSWORD=password
DWH_HOST=dwh

# Cache and Stream
CACHE_URL=redis://cache:6379/0
STREAM_URL=redis://stream:6379/0

# Redpanda SASL
REDPANDA_RPK_USER=admin
REDPANDA_RPK_PASSWORD=super-secret-password

# Redpanda Console Auth
CONSOLE_AUTH_USER=admin
CONSOLE_AUTH_PASSWORD=console-password

WEB_CONCURRENCY=1

# Rate limiting
RATE_LIMIT_ENABLED=true
RATE_LIMIT_FREE_RPM=100
RATE_LIMIT_PRO_RPM=1000
RATE_LIMIT_ENTERPRISE_RPM=10000
RATE_LIMIT_NO_AUTH_RPM=10
RATE_LIMIT_PROJECT_CREATE_RPM=10

# Worker
BATCH_SIZE=100
READ_TIMEOUT_MS=1000
METRICS_UPDATE_INTERVAL=15

# CDC Metrics
DEBEZIUM_URL=http://debezium:8083

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

SECRET_TOKEN=Khywym3DhYiZ1l2yaYeI_ElQ64_OfqM8JqEFnuOgiMY
